 #seccion1{
            background-color: black;
            color: bisque;   
        }
        .seccion2{
            background-color: rgba(4, 0, 255, 0.575);
            color: white;
        }
        p{
            font-size: 16px;
        }